@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Welcome</h1>
    <div class="d-flex flex-column gap-4 mb-2">
        <div>
            <h3>Add authors</h3>
            <p>Add any number of authors shared with all the users</p>
        </div>
        <div>
            <h3>Add books</h3>
            <p>Similarly, you can also add books that all the other users will see</p>
        </div>
        <div>
            <h3>Post reviews!</h3>
            <p>
                And best of all, post a review for a book! Better than Goodreads
                <span style="font-size: 0.5rem">(and that's a promise)</span>
            </p>
        </div>
    </div>
</div>
