@model S2_CA2.Models.Book

@{
    ViewData["Title"] = "Add New Book";
}

<h2>Add Book</h2>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Title</label>
        <input asp-for="Title" class="form-control" required />
    </div>
    <div class="form-group">
        <label>ISBN</label>
        <input asp-for="ISBN" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Published Date</label>
        <input asp-for="PublishedDate" type="date" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Genre</label>
        <input asp-for="Genre" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>
