@model S2_CA2.Models.ViewModels.BookVM

@{
    ViewData["Title"] = "Edit Book";
}

<h2>Edit Book</h2>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label>Title</label>
        <input asp-for="Title" class="form-control" required />
    </div>
    <div class="form-group">
        <label>ISBN</label>
        <input asp-for="Isbn" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Published Date</label>
        <input asp-for="PublishedDate" type="date" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Genre</label>
        <input asp-for="Genre" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>