@model S2_CA2.Models.Author

@{
    ViewData["Title"] = "Add New Author";
}

<h2>Add Author</h2>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Bio</label>
        <textarea asp-for="Bio" class="form-control" required></textarea>
    </div>
    <div class="form-group">
        <label>Birthdate</label>
        <input asp-for="Birthdate" type="date" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>
